.info{
    margin: 20px 0;
}
.question,
.answer{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question{
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-grey);
}
.answer{
    font-size: 14px;
    font-weight: 400;
}