.title__hgroup{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
}
.subtitle__hgroup{
    display: flex;
    margin: 40px 0;
}
.subtitle{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
}