.dialogs{
    height: 100vh;
    overflow-y: auto;
    padding: 40px;
    background: linear-gradient(to bottom, var(--secondary-black), var(--black));
}
.title{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-grey);
    margin-bottom: 20px;

}
.channels{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.dialogs::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
  
.dialogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--secondary-grey);
}
  